@model TestHtmlTablesAjax.Models.Movie

<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.ReleaseDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Genre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Likes)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Dislikes)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Price)
    </td>
    <td>
        @using (Ajax.BeginForm(
                                            actionName: "_Like",
                                            controllerName: "Movies",
                                            routeValues: new { id = Model.Id },
                                            ajaxOptions: new AjaxOptions
                                            {
                                                HttpMethod = "Post",
                                                OnSuccess = "Success"
                                            },
                                            htmlAttributes: new { @class = "trow" }
                                    ))
        {
            <input id="likeButton" type="submit" value="Like" onclick="alert('scroll position is' + window.pageYOffset)"/>
            //document.cookie = window.pageYOffset;
            @*<script src="~/Scripts/SaveScrollPosition.js"></script>*@
        }
    </td>
    <td>
        @using (Ajax.BeginForm(
                                            actionName: "_Dislike",
                                            controllerName: "Movies",
                                            routeValues: new { id = Model.Id },
                                            ajaxOptions: new AjaxOptions
                                            {
                                                HttpMethod = "Post",
                                                OnSuccess = "Success"
                                            },
                                            htmlAttributes: new { @class = "trow" }
                                    ))
        {
            <input type="submit" value="Dislike" />
        }
    </td>
<td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </td>
</tr>

@*<script src="~/Scripts/SaveScrollPosition.js"></script>*@

@*<div class="row trow">
    <div class="cell col-xs-2">
        @Html.DisplayFor(modelItem => Model.Title)
    </div>
    <div class="cell col-xs-2">
        @Html.DisplayFor(modelItem => Model.ReleaseDate)
    </div>
    <div class="cell col-xs-1">
        @Html.DisplayFor(modelItem => Model.Genre)
    </div>
    <div class="cell col-xs-1">
        @Html.DisplayFor(modelItem => Model.Price)
    </div>
    <div class="cell col-xs-1">
        <i class="icon-thumbs-up"></i>
        @Html.DisplayFor(modelItem => Model.Likes)
    </div>
    <div class="cell col-xs-1">
        <i class="icon-thumbs-down"></i>
        @Html.DisplayFor(modelItem => Model.Dislikes)
    </div>
    <div class="cell col-xs-1">
        @using (Ajax.BeginForm(
                                actionName: "_Like",
                                controllerName: "Movies",
                                routeValues: new { id = Model.Id },
                                ajaxOptions: new AjaxOptions
                                {
                                    HttpMethod = "Post",
                                    OnSuccess = "Success"
                                },
                                htmlAttributes: new { @class = "trow" }
                        ))
        {
            <input type="submit" value="Like" />
        }
    </div>
    <div class="cell col-xs-1">
        @using (Ajax.BeginForm(
                                actionName: "_Dislike",
                                controllerName: "Movies",
                                routeValues: new { id = Model.Id },
                                ajaxOptions: new AjaxOptions
                                {
                                    HttpMethod = "Post",
                                    OnSuccess = "Success"
                                },
                                htmlAttributes: new { @class = "trow" }
                        ))
        {
            <input type="submit" value="Dislike" />
        }
    </div>
    <div class="cell col-xs-2">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </div>
</div>*@ @*end row*@
@*}*@ @*end form*@
@*<script type="text/javascript" src="/js/maintainscroll.jquery.min.js"></script>*@
@*<script type="text/javascript" src="~/Scripts/maintainscroll.jquery.min.js"></script>*@